/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.profile-image > img{
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(5, 155, 143);}
    
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 15px; /* Space between gallery items */
    padding: 20px;
  }
  
